# Node / Frontend
node_modules/
.next/
out/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Python caches
__pycache__/
*.pyc
*.pyo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.netlify/
README.md
*.md
